exportPattern("^[[:alpha:]]+")
import(tidyverse)
import(dplyr)
import(plyr)
import(magrittr)
import(readxl)
import(pdp)
import(dataCompareR)
import(zip)
import(data.table)
import(Hmisc)
import(ggrepel)
import(readxlsb)
import(tidyr)
import(viridis)
import(ggpubr)
import(pdftools)
import(writexl)
import(openxlsx)
import(gridExtra)
